#gradle
build
gradle

#other
eclipse
run

/logs/
*.json
!sounds.json
!/src/*/*.json
*.text
/world/
/saves/
/mods/
/libs/
/build/
/config/
/crash-reports/
/eula.txt
/options.txt
/.settings/
/screenshots/
/eclipse/
/.gradle/
/build/

/.gradle/
/bin/
/build/
/config/
/eclipse/
/gradle/
/logs/
/mods/
/resourcepacks/
/saves/
/CREDITS-fml.txt
/LICENSE-fml.txt
/MinecraftForge-Credits.txt
/MinecraftForge-License.txt
/forge-1.7.10-10.13.4.1614-1.7.10-changelog.txt
/options.txt
/usernamecache.json
server.properties
.classpath
/asm/
.project
